
body { /*normalmente não se coloca mais no body o papel de limitar e centralizar todo o conteúdo, pois ele representa a área inteira, possível, da página*/
    margin: 0; /*margin: tira a margem externa pré definida por padrão no body*/
    min-height: 100vh; /*faz c. que o body ocupe, no mínimo, a altura da janela visível pelo usuário. Caso o conteúdo ultrapasse essa altura, o body expande, sendo necessário dar scroll*/
    display: flex; /*Coloca-se flex box apenas nos elementos que queremos organizar o conteúdo interno c/ facilidade. Neste caso, colocamos aqui para que os conteúdos internos consigam utilizar a altura do body que não é liberada por padrão*/
    background-color: #333234;
    font-family: "Noto Serif", serif;
    color: #FFFBFC;
}

#title {
    font-size: 48px;
}

p {
    font-size: 18px;
    font-weight: 500;
}

#question {
    font-size: 22px;
    font-weight: 700;
    color: #1CFEBA; 
}

#seemore {
    color: #1CFEBA; 
    font-weight: 700;
}

img {
    min-height: 560px;
    min-width: 400px;
}

.card{
    display: flex;
    margin: auto; /* auto: calcula automaticamente as margens; dos 4 lados neste caso*/
    flex-direction:column;
    gap: 10px;
}

.card_content {
    /*margin: auto; /* auto: calcula automaticamente as margens; dos 4 lados neste caso*/
    display: flex;
    padding: 30px;
    border: 2px solid #444B4B;
    justify-content: center;
    gap: 180px;
    max-width: 1250px;
    align-items: center;
}

.card_text{    
    display: flex;
    flex-direction:column;
    gap: 10px;
}

.card_link {
    padding: 10px 30px;
    display: flex;
    width: 100%;
    max-width: 1250px;
    border: 2px solid #444B4B;
    margin: auto;
}

a {
    margin: 1.2em;
    text-decoration: none;
}

a:link {
    color: #FFFBFC;
}

a:visited {
    color: #1CFEBA;
}

a:hover {
    color: #D2BF55;
}
